# Python関連
*.pyc
__pycache__/
*.pyo
*.pyd

# Django関連
media/      # アップロードされたメディアファイル

# 環境ファイル
.env        # 環境変数を設定するファイル

# 仮想環境
venv/
myvenv/

# IDEとエディタ関連
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ログファイル
*.log

# macOS関連
.DS_Store

# その他
*.swp
