/* サービスについてタイトルのスタイル */
.service-title {
    font-size: 30px; /* フォントサイズを大きく */
    text-transform: uppercase; /* 大文字に変換 */
    color: black; /* 色を黒に変更 */
    text-align: center; /* 中央揃え */
    margin-bottom: 50px; /* 下に余白を追加 */
    margin-top: 50px;
}

/* サービス説明文のスタイル */
.service-description {
    font-size: 20px; /* フォントサイズを小さく */
    text-align: center; /* 中央揃え */
    margin-bottom: 100px; /* 下に余白を追加 */
}

.profile-box {
    border: 2px solid; /* 外枠を維持 */
    padding: 60 40px; /* パディングを調整 */
    margin: 100px auto;
    max-width: 956px;
    text-align: center;
}

.button-group {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.button-group a {
    text-decoration: none;
    padding: 12px 20px; /* ボタン内の余白を増やす */
    background-color: #4598eb; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 8px; /* 角の丸みを増やす */
    cursor: pointer;
    width: 140px;
    font-size: 20px;
    margin: 50px;
    transition: background-color 0.3s;
}

.button-group a:hover {
    background-color: #367bb7;
}