/* サービスについてタイトルのスタイル */
.service-title {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}


/* 説明文の外枠 */
.text-field {
    border: 2px solid; /* 外枠を維持 */
    padding: 60 40px; /* パディングを調整 */
    margin: 100px auto;
    max-width: 956px;
    text-align: center;
}

/* サービス説明文のスタイル */
.service-description {
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
}

/* ボタングループ */
.button-group {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* ボタンの体裁 */
.button-group a {
    text-decoration: none;
    padding: 12px 20px; /* ボタン内の余白を増やす */
    background-color: #4598eb; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 8px; /* 角の丸みを増やす */
    cursor: pointer;
    width: 140px;
    font-size: 20px;
    margin: 50px;
    transition: background-color 0.3s;
}

/* ボタンのホバー */
.button-group a:hover {
    background-color: #367bb7;
}