/* container */
.container {
    width: 80%; /* コンテナの幅を80%に設定 */
    padding: 30px; /* パディングを増やす */
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center; /* 中央揃え */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 縦方向に中央揃え */
    align-items: center; /* 横方向に中央揃え */
    font-size: 1.2em; /* フォントサイズを大きく */
    margin-left: auto;
    margin-right: auto;
}

/* h3 */
h3 {
    margin: 110px 0 0 0; /* 上下の余白を調整 */
    text-align: center; /* 中央揃え */
    font-size: 30px;
}

/* button group */
.button-group {
    display: flex;
    justify-content: center; /* ボタンの間隔を調整 */
    width: 150%; /* ボタングループの幅を100%に */
    margin-top: 130px; /* 上部の余白 */
}

/* button */
button {
    width: auto; /* ボタンの幅 */
    padding: 15px; /* パディングを増やす */
    border: 1px solid;
    border-radius: 8px;
    cursor: pointer;
    background-color: #4598eb; /* ボタンの色 */
    color: white;
    font-size: 1em; /* フォントサイズを大きく */
}

button:hover {
    background-color: #367bb7;
}

nav {
    display: none;
}