body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    font-size: 30px; /* フォントサイズを大きく */
    text-decoration: none;
    font-weight: bold;
    line-height: 1; /* 行間を狭くする */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 左揃えにする */
    position: absolute; /* 絶対配置 */
    top: 20px; /* 上部の余白 */
    left: 20px; /* 左側の余白 */
}

/* ナビゲーション下の実線 */
.header-line {
    border: none;
    border-top: solid 2px black; /* 線の太さを変更 */
    height: 1px;
    width: 1155%;
    margin: 30 0 0 -10%; /* 上下の余白を調整 */
}

h1 {
    margin-bottom: 0;
    margin-top: 1px;
}

hr {
    border: 0;
    height: 1px;
    width: 90%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    padding: 40px;
    width: 260%;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid; /* 外枠の線を少し細く */
    padding: 10px;
    text-align: left;
    border-radius: 5px;
}

.form-group {
    text-align: center;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

button {
    margin: 0 50px;
    padding: 10px 25px;
    font-size: 1em;
    border: 1px solid; /* 枠線を追加してシンプルな見た目に */
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: black;
    width: 150px;
}

button:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
}

td input {
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px; /* 角を丸く */
    border: 1px solid;
    padding: 5px;
    font-size: 1em;
}