@charset "UTF-8";

/* body */
body {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto; /* 中央揃え */
    margin-top: 20px;
}

/* brand */
.brand {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1; /* 行間を狭くする */
}

/* navigation */
.navigation {
    text-align: center; /* ナビゲーション全体を中央に配置 */
}

.navigation-button {
    list-style-type: none; /* リストのマーカーを消す */
    padding: 0;
    display: inline-flex; /* 横並びに配置 */
    gap: 10px; /* 各ボタンの間にスペースを追加 */
}

.navigation-button li a {
    display: inline-block;
    width: 150px; /* ボタンの固定幅を設定 */
    padding: 10px 0; /* 上下のスペースのみを設定 */
    text-align: center; /* テキストを中央揃え */
    border: 1px solid #000000;
    border-radius: 8px; /* 角丸四角にする */
    background-color: #ffffff; /* ボタンの背景色 */
    text-decoration: none; /* リンクの下線を消す */
    color: #333; /* テキストの色 */
    font-size: 20px; /* フォントサイズ */
    transition: background-color 0.3s; /* 背景色が変わるトランジション */
}

.navigation-button li a:hover {
    background-color: #d0eaff; /* ホバー時の背景色 */
}

/* ナビゲーション下の実線 */
.header-line {
    border: none;
    border-top: solid 2px black;
    height: 1px;
    width: 100%;
    max-width: 1200px;
    margin: 30 auto; /* 実線の上下の余白中央揃え */
}

/* footer */
.row {
    text-align: center;
    font-size: 20px;
}