/* コンテナのスタイル */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* プロフィールボックスのスタイル */
.profile-box {
    border: 2px solid;
    padding: 60 40px; /* パディングを調整 */
    max-width: 1000px;
    margin: 100px auto;
}

/* お問い合わせタイトルのスタイル */
.contact-title {
    font-size: 32px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 60px;
}

/* お問い合わせ説明文のスタイル */
.contact-description {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 60px;
}

/* フォームグループのスタイル */
.form-group {
    margin-bottom: 5px;
    display: flex; /* フレックスボックスを使用 */
    flex-direction: column; /* 縦方向に配置 */
}

.form-group label {
    margin-top: 15px; /* ラベルと入力欄の間に余白を追加 */
    font-size: 16px; /* フォントサイズを調整 */
    margin-left: 200px;
}

.form-group input,
.form-group textarea {
    width: 100%; /* 幅を100%に設定 */
    max-width: 535px; /* 最大幅を設定して中央に配置 */
    padding: 12px; /* 内部の余白を設定 */
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

/* お問い合わせ内容の入力欄を大きくするスタイル */
.large-input {
    height: 150px; /* 高さを大きく設定 */
}

/* ボタンのグループ */
.button-group {
    display: flex;
    justify-content: center; /* 中央揃え */
    margin-top: 80px;
    margin-bottom: 40px;
}

.button-group button {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}