body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-style: italic;
    color: #000000;
    margin-bottom: 20px;
}

.container {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    margin: 20px 0;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

button {
    text-decoration: none;
    padding: 12px 10px; /* ボタン内の余白を増やす */
    background-color: #4598eb; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 8px; /* 角の丸みを増やす */
    cursor: pointer;
    width: 100px;
    font-size: 20px; 
}

.button-group button:hover{
    background-color: #0056b3;
}