body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 0;
    margin-top: 1px;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
    width: 90%;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 120%;
    max-width: 800px;
}

td {
    border: 0.8px solid lightgray; /* 外枠の線を少し細く */
    padding: 10px;
    text-align: left;
    border-radius: 8px;

}

.form-group {
    text-align: center;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 1em;
    border: 1px solid lightgray; /* 枠線を追加してシンプルな見た目に */
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: black;
}

button:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
}

small {
    font-size: 0.8em;
    color: gray;
}

td input {
    text-align: left;
    box-sizing: border-box;
    border-radius: 8px; /* 角を丸く */
    border: 1px solid;
    padding: 5px;
    font-size: 1em;
}

#Birth_Year, #Birth_Month, #Birth_Day {
    width: 50px; /* 生年月日の各入力欄の幅を指定 */
}

#UName, #Furigana {
    width: 150px;
}

#UTel {
    width: 200px;
}

#Graduation {
    width: 80px;
}

/* 性別のラジオボタンの整列と右側配置 */
td label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

td label input[type="radio"] {
    margin-left: 5px;
    margin-right: 0;
}
