.container {
    width: 80px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.nav-btn {
    padding: 20px 40px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
    margin-top: 50px;
}

.nav-btn.active {
    border: 2px solid blue;
}

/* 上部4つのボタンにカーソルを当てたときに灰色に */
.nav-btn:hover {
    background-color: lightgray;
}

.soliloquizing_jobtype-box {
    border: 2px solid;
    padding: 60 40px;
    max-width: 1000px;
    margin: 100px auto;
}

.question-input {
    width: 80%;
    height: 40px; /* 縦幅を大きく設定 */
    padding: 10px; /* 入力欄の内側の余白 */
    margin: 10px 0;
    border: 1px solid;
    border-radius: 4px;
    resize: none; /* リサイズを無効に */
    overflow-y: auto; /* 縦方向のスクロールを有効に */
    white-space: pre-wrap; /* 改行を有効に */
}

/* 保存ボタンのみ、カーソルを当てたときに灰色に */
.save-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.save-button {
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
}

/* 保存ボタンにカーソルを当てたときの色設定 */
.save-button:hover {
    background-color: lightgray;
}
