@charset "UTF-8";

/* header内の要素のレイアウト */
.header {
    width: 80%;  /* 横幅を100%に */
    padding: 0px;  /* 余白 */
}

body {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto; /* 中央揃え */
    margin-top: 20px;    
}

/* 親要素のスタイル */
#brand {
    position: relative;       /* 子要素を絶対配置する基準を作成 */
    display: flex;            /* フレックスボックスを維持（レイアウトの調整） */
    align-items: center;      /* 垂直方向の中央揃え */
    padding: 10px;
}

/* brand */
.brand {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1; /* 行間を狭くする */
    color: black; /* リンクの色を青に固定 */
}

/* headerの横線 */
hr {
    border: none;
    border-top: solid 2px black;
    height: 1px;
    width: 100%;
    max-width: 1200px;
    margin: 30 auto; /* 実線の上下の余白中央揃え */
}

/* コンテナ */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* タイトル */
h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}



.row-field {
    border-collapse: collapse;
    margin-top: 10px;
    margin: 0 auto; /* Center the table horizontally */
    border: 2px solid #333; /* Teーブル全体の外枠を太く */
    table-layout: fixed; /* テーブルの幅を固定 */
    word-wrap: break-word; /* テキストをセル内で折り返し */
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 0.8px solid lightgray; /* 外枠の線を少し細く */
    padding: 10px;
    text-align: left;
    border-radius: 5px;

}

.form-group {
    text-align: center;
}

.button-group {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-group button {
    padding: 12px 20px; /* ボタン内の余白を増やす */
    background-color: #4598eb; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 8px; /* 角の丸みを増やす */
    cursor: pointer;
    width: 120px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #367bb7;
}

/* footer */
.row {
    text-align: center;
    font-size: 20px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
}

small {
    font-size: 0.8em;
    color: gray;
}

td input {
    text-align: left;
    box-sizing: border-box;
    border-radius: 5px; /* 角を丸く */
    border: 1px solid;
    padding: 5px;
    font-size: 1em;
}

#Birth_Year, #Birth_Month, #Birth_Day {
    width: 50px; /* 生年月日の各入力欄の幅を指定 */
}

#UName, #Furigana {
    width: 150px;
}

#UTel {
    width: 200px;
}

#Graduation {
    width: 80px;
}

/* 性別のラジオボタンの整列と右側配置 */
td label {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

td label input[type="radio"] {
    margin-left: 5px;
    margin-right: 0;
}
