@charset "UTF-8";

/* header内の要素のレイアウト */
.header {
    width: 50%;  /* 横幅を100%に */
    padding: 0px;  /* 余白 */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    
}

/* brand */
.brand {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    line-height: 1; /* 行間を狭くする */
    color: black; /* リンクの色を青に固定 */
}

/* brand（ロゴ）部分 */
#brand {
    display: flex;  /* 横並び */
    align-items: center;  /* 上下中央揃え */
    text-align: left;  /* 左寄せ */
}

/* ナビゲーション下の実線 */
.header-line {
    border: none;
    border-top: solid 2px black;
    height: 1px;
    width: 100%;
    max-width: 1500px;
    margin: 30 auto; /* 実線の上下の余白中央揃え */
}

/* プロフィールボックスのスタイル */
.profile-box {
    border: 1px solid; /* 外枠を維持 */
    padding: 20px; /* パディングを調整 */
    width: 100%; /* 幅を100%にして外枠を広げる */
    border-radius: 35px;
    margin: 0 auto;
    margin-top: 20px;
}

.h1 {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.email {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.text {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.inquiry_target {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.responsible_person {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.tel {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.e-mail {
    font-size: 20px; /* 好みのサイズに調整 */
    margin: 0; /* 必要に応じてマージンも調整 */
    text-align: center; /* テキストを中央揃え */
}

.h1, .email, .text, .inquiry_target, .responsible_person, .tel, .e-mail {
    margin-bottom: 20px; /* 文字列の下に余白を追加して間隔を広げる */
}

/* footer */
.row {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 30px; /* 文字をさらに下にずらす */
}


.form-group {
    text-align: center;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 8px 16px;
    font-size: 1em;
    border: 2px solid lightgray; /* 枠線を追加してシンプルな見た目に */
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: black;
}

button:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
}

