@charset "UTF-8";

/* container */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* search-field */
.search-field {
    background-color: #ffffff; /* 背景色 */
    border: 2px solid #000000; /* 枠線 */
    padding: 60px 40px; /* 内側の余白を上下60px、左右20pxに増やす */
    border-radius: 40px; /* 角を丸く */
    margin: 100px auto; /* 上下に50pxの余白、左右は自動で中央揃え */
    max-width: 1000px; /* 幅を制限 */
    text-align: center; /* テキストとボタンを中央揃え */
}

.search-field form {
    display: flex;
    justify-content: center;
    gap: 15px; /* フォーム内の要素間の隙間を広げる */
    flex-wrap: wrap; /* 要素が幅に収まらない場合に折り返す */
}

/* 検索バー */
.search-field input[type="text"] {
    flex: 1; /* バーの幅を調整 */
    padding: 20px; /* 入力フィールドの内側余白を増やす */
    border: 1px solid #000000; /* 枠線の色 */
    border-radius: 5px; /* 角の丸みを増やす */
    font-size: 20px;
}

/* 検索ボタン */
.search-field button {
    padding: 12px 20px; /* ボタン内の余白を増やす */
    background-color: #4598eb; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 5px; /* 角の丸みを増やす */
    cursor: pointer;
    width: 100px;
    font-size: 20px;
}

.search-field button:hover {
    background-color: #4598eb; /* ボタンのホバー色 */
}

.refine-search {
    text-align: left;
    margin-top: 25px;
}

/* サーチフィールド内の点線 */
.search-field-line {
    border: none;
    border-top: dashed 2px black;
    height: 1px;
    width: 100%;
    max-width: 800px;
    margin: 30px auto; /* 上下の余白 */
}

/* プルダウンメニューのラベルのフォントサイズ */
.search-field label {
    font-size: 30px;
}