@charset "UTF-8";

/* container */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* search-field */
.search-field {
    background-color: #ffffff; /* 背景色 */
    border: 2px solid #000000; /* 枠線 */
    padding: 60px 40px; /* 内側の余白を上下60px、左右20pxに増やす */
    margin: 100px auto; /* 上下に50pxの余白、左右は自動で中央揃え */
    max-width: 1000px; /* 幅を制限 */
    text-align: center; /* テキストとボタンを中央揃え */
}

/* 検索バー */
.search-field input[type="text"] {
    width: 650px; /* バーの幅を調整 */
    padding: 20px; /* 入力フィールドの内側余白を増やす */
    border: 1px solid #000000; /* 枠線の色 */
    border-radius: 8px; /* 角の丸みを増やす */
    font-size: 20px;
}

/* 検索ボタン */
.search-field button {
    padding: 12px 20px; /* ボタン内の余白を増やす */
    background-color: #3791ec; /* ボタンの色 */
    color: white;
    border: none;
    border-radius: 8px; /* 角の丸みを増やす */
    cursor: pointer;
    width: 100px;
    font-size: 20px;
}

.search-field button:hover {
    background-color: #256aaf; /* ボタンのホバー色 */
}

/* サーチフィールド内の点線 */
.search-field-line {
    border: none;
    border-top: dashed 2px black;
    height: 1px;
    width: 100%;
    max-width: 800px;
    margin: 30px auto; /* 上下の余白 */
}

/* select-boxの大きさを調節 */
.select-box {
    width: 100px;  /* 幅を200pxに設定 */
    height: 35px;  /* 高さを35pxに設定 */
    padding: 5px;  /* 内側の余白を調整 */
    font-size: 16px; /* 文字サイズを調整 */
}

/* プルダウンメニューのオプション選択時の色を変更 */
.select-box option {
    background-color: #ffffff; /* オプションの背景色 */
    color: #3e3e3e; /* オプションの文字色 */
}

/* プルダウンメニューがフォーカスされたときのスタイルを変更 */
.select-box:focus {
    border-color: #256aaf; /* フォーカス時のボーダー色 */
    outline: none; /* デフォルトのアウトラインを削除 */
}


/* プルダウンメニューのラベルのフォントサイズ */
.search-field label {
    font-size: 27px;
    display: flex;
    align-items: center; /* 上下中央揃え */
    /* height: 100%; 親要素の高さに合わせる場合に指定 */
}

/* プルダウンメニューに対するスタイル */
form select {
    height: 35px; /* プルダウンメニューの高さを指定 */
    padding: 5px;
}

.search-field form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* フォーム内の要素間の隙間を広げる */
    flex-wrap: wrap; /* 要素が幅に収まらない場合に折り返す */
}

/* 詳細検索遷移ボタン */
.refine-search {
    text-align: left;
    margin-top: 25px;
}

.refine-search a {
    font-size: 18px;
    text-decoration: none;
    color: #256aaf;
}