{% extends "base.html" %}

{% load static %}

{% block title %}サービス概要{% endblock %}

{% block head %}
<link href="{% static 'css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-box"> <!-- 外枠 -->
        <h1 class="service-title">サービスについて</h1> <!-- タイトル -->
        <p class="service-description">私たちのサービスはみなさんの就職活動をサポートすることが目的で始まりました。<br>

            誰から教わるわけでもなく自身で調べ始めなければならないのが就職活動。<br>
            右も左もわからないまま取り組んでいると<br>
            
            「どこから手を付けていいのかわからない」<br>
            「何をすれば良いのかわからない」<br>
            
            こういった悩みは多くの学生が抱えていることでしょう。<br>
            
            私たちは就職活動の基盤である<br>
            「自己分析、就活の軸、業界研究、業種研究」<br>
            に焦点を当て、それらを効果的に進めるためのサポートを提供しています。<br>
            
            自己分析では、皆さんが自分の強みや価値観を理解し、<br>将来の目標を明確にするお手伝いをします。<br>
            
            また、就活の軸を定めることで、<br>企業選びの際に迷うことなく、自分に合ったキャリアパスを見つけることができます。<br>
            業界や業種研究においては、各業界の特徴や<br>動向をわかりやすく解説し、興味のある分野で<br>どのようなスキルや経験が<br>求められるのかを具体的に知ることができます。<br>
            
            私たちのサービスを活用して、自信を持って就職活動に取り組み、<br>ご自身の納得のいく進路を見つけてください。</p> <!-- 説明文 -->
            </div>
        </form>
    </div>
</div>
{% endblock %}