<!-- base.htmlを継承 -->
{% extends "adm_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}[adm]求人検索{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/adm_post_list.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content %}
    <!-- search-box -->
    <div class="container">
        <div class="search-field">
            <!-- 検索バー-->
            <form action="{% url 'CCapp:adm_post_list' %}" method="GET">
                <input type="text" name="query" placeholder="企業名または法人番号で探す" required>
                <button type="submit">検索</button>
            </form>
        </div>
    </div>

    <div class="job-list">
        <!-- 求人情報をループで表示 -->
        {% for job in jobs %}
        <div class="job-item">
            <img src="{{ job.corporation.image_url|default:'placeholder.jpg' }}" alt="会社写真">
            <div class="job-info">
                <p class="company-name">{{ job.corporation.name }}</p>
                <p>法人番号：{{ job.corporation.corp }}</p>
                <div class="job-buttons">
                    <form action="{% url 'CCapp:delete_job' job.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit">求人削除</button>
                    </form>
                    <a href="{% url 'CCapp:edit_job' job.id %}">
                        <button type="button">求人編集</button>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <!-- 検索結果がない場合の表示 -->
        <p class="no-results">求人情報が見つかりませんでした。</p>
        {% endfor %}
    </div>
{% endblock %}
