<!-- base.htmlを継承 -->
{% extends "adm_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}[adm]求人削除完了{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/adm_post_del_done.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h3>求人投稿が削除されました。</h3>
        <div class="button-group">
            <button onclick="window.location='{% url 'CCapp:adm_post_list' %}'">求人一覧に戻る</button>
        </div>
    </div>
{% endblock %}