{% extends "adm_base.html" %}

{% load static %}

{% block title %}[adm]求人編集{% endblock %}

{% block head %}
    <link href="{% static 'css/adm_edit_post.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <h2>求人編集</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- フォームのフィールドを表示 -->
        {{ form.as_p }}  <!-- これですべてのフィールドがパラグラフ形式で表示されます。 -->

        <!-- welfareフィールドのみ個別にカスタマイズ表示する場合 -->
        <div class="form-group">
            <label for="id_welfare">福利厚生</label>
            {{ form.welfare }} <!-- welfareフィールドのみ個別に表示 -->
        </div>

        <button type="submit">保存</button>
        <a href="{% url 'CCapp:adm_post_list' %}" class="cancel-btn">キャンセル</a>
    </form>
</div>
{% endblock %}
