<!-- base.htmlを継承 -->
{% extends "adm_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}[adm]求人検索{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/adm_post_list.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content %}
    <!-- search-box -->
    <div class="container">
        <div class="search-field">
            <!-- 検索バー-->
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="企業名または法人番号で探す" required>
                <button type="submit">検索</button>
            </form>
        </div>
    </div>

    <div class="job-list">
        <!-- 求人情報1 -->
        <div class="job-item">
            <img src="placeholder.jpg" alt="会社写真">
            <div class="job-info">
                <p class="company-name">株式会社〇〇〇〇ソリューションズ</p>
                <p>法人番号：〇〇〇〇〇〇〇〇〇〇</p>
                <div class="job-buttons">
                    <button type="submit">求人削除</button>
                    <button type="submit">求人編集</button>
                </div>
            </div>
        </div>

    <!-- 求人情報2 -->
    <div class="job-item">
        <img src="placeholder.jpg" alt="会社写真">
        <div class="job-info">
            <p class="company-name">株式会社〇〇〇〇テクノロジー</p>
            <p>法人番号：〇〇〇〇〇〇〇〇〇〇</p>
            <div class="job-buttons">
                <button>求人削除</button>
                <button>求人編集</button>
            </div>
        </div>
    </div>

    <!-- 求人情報3 -->
    <div class="job-item">
        <img src="placeholder.jpg" alt="会社写真">
        <div class="job-info">
            <p class="company-name">株式会社〇〇〇〇エンジニアリング</p>
            <p>法人番号：〇〇〇〇〇〇〇〇〇〇</p>
            <div class="job-buttons">
                <button>求人削除</button>
                <button>求人編集</button>
            </div>
        </div>
    </div>
{% endblock %}