<!-- base.htmlを継承 -->
{% extends "adm_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}adm_edit_post{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/adm_edit_post.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content %}
<form action="#" method="post">
    <table>
        <tr>
            <td class="form-group"><label for="Company_Name">会社名</label></td>
            <td><input type="text" id="Company_Name" name="Company_Name" required style="width: 520px;"></td>
        </tr>
        <tr>
            <td class="form-group"><label for="Job_Title">職種名</label></td>
            <td><input type="text" id="Job_Title" name="Job_Title" required style="width: 520px;"></td>
        </tr>        
        <tr>
            <td class="form-group"><label for="Number_of_Employee">従業員数</label></td>
            <td><input type="text" id="Number_of_Employee" name="Number_of_Employee" required style="width: 520px;"></td>
        </tr>
        <tr>
            <td class="form-group"><label for="Work_Location">勤務地</label></td>
            <td>
                <select id="Work_Location" name="Work_Location" required style="width: 120px">
                    <option value="hokkaido">北海道</option>
    <option value="aomori">青森県</option>
    <option value="iwate">岩手県</option>
    <option value="miyagi">宮城県</option>
    <option value="akita">秋田県</option>
    <option value="yamagata">山形県</option>
    <option value="fukushima">福島県</option>
    <option value="ibaraki">茨城県</option>
    <option value="tochigi">栃木県</option>
    <option value="gunma">群馬県</option>
    <option value="saitama">埼玉県</option>
    <option value="chiba">千葉県</option>
    <option value="tokyo">東京都</option>
    <option value="kanagawa">神奈川県</option>
    <option value="niigata">新潟県</option>
    <option value="toyama">富山県</option>
    <option value="ishikawa">石川県</option>
    <option value="fukui">福井県</option>
    <option value="yamanashi">山梨県</option>
    <option value="nagano">長野県</option>
    <option value="gifu">岐阜県</option>
    <option value="shizuoka">静岡県</option>
    <option value="aichi">愛知県</option>
    <option value="mie">三重県</option>
    <option value="shiga">滋賀県</option>
    <option value="kyoto">京都府</option>
    <option value="osaka">大阪府</option>
    <option value="hyogo">兵庫県</option>
    <option value="nara">奈良県</option>
    <option value="wakayama">和歌山県</option>
    <option value="tottori">鳥取県</option>
    <option value="shimane">島根県</option>
    <option value="okayama">岡山県</option>
    <option value="hiroshima">広島県</option>
    <option value="yamaguchi">山口県</option>
    <option value="tokushima">徳島県</option>
    <option value="kagawa">香川県</option>
    <option value="ehime">愛媛県</option>
    <option value="kochi">高知県</option>
    <option value="fukuoka">福岡県</option>
    <option value="saga">佐賀県</option>
    <option value="nagasaki">長崎県</option>
    <option value="kumamoto">熊本県</option>
    <option value="oita">大分県</option>
    <option value="miyazaki">宮崎県</option>
    <option value="kagoshima">鹿児島県</option>
    <option value="okinawa">沖縄県</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="form-group"><label for="Planned_Recruits">採用予定人数</label></td>
            <td><input type="text" id="Planned_Recruits" name="Planned_Recruits" required style="width: 520px;"></td>
        </tr>
        <tr>
            <td class="form-group"><label for="Employment_Status">雇用形態</label></td>
            <td>
                <input type="text" id="Employment_Status" name="Employment_Status" required style="width: 520px;">
            </td>
        </tr>
        <tr>
            <td class="form-group"><label for="Salary">給与</label></td>
            <td>
                <input type="text" id="Salary" name="Salary" required style="width: 520px;">
            </td>
        </tr>
        <tr>
            <td class="form-group"><label for="Overtime_pay">固定残業代の有無</label></td>
            <td><input type="text" id="Overtime_pay" name="Overtime_pay" required style="width: 520px;"></td>
        </tr>
    </table>
    <div class="button-group center-button">
        <button class="save">保存</button>
    </div>
</form>
</body>
</html>
{% endblock %}