<!-- base.htmlを継承 -->
{% extends "adm_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}[adm]求人削除{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/adm_post_del.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}  
    <div class="container">
        <h3>{{ offer.name }} の求人を削除しますか？</h3>
        <p>求人内容を削除する前に、再度確認してください。</p>
        <div class="button-group">
            <!-- 削除確認フォーム -->
            <form action="{% url 'CCapp:adm_post_del' offer.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="Yes">はい</button>
            </form>
            <!-- キャンセル用リンク -->
            <a href="{% url 'CCapp:adm_post_list' %}" class="No"><button>いいえ</button></a>
        </div>
    </div>
{% endblock %}