{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>求人削除確認</title>
    <link href="{% static 'css/adm_post_del.css' %}" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <a class="brand" href="{% url 'CCapp:adm_dashboard' %}"><i>Career
            <br>&nbsp;&nbsp;&nbsp;Compass</i></a>
        <hr class="header-line">
    </header>    

    <div class="container">
        <h3>{{ offer.name }} の求人を削除しますか？</h3>
        <p>求人内容を削除する前に、再度確認してください。</p>
        <div class="button-group">
            <!-- 削除確認フォーム -->
            <form action="{% url 'CCapp:adm_post_del' offer.pk %}" method="post" onsubmit="return confirm('本当に削除しますか？');">
                {% csrf_token %}
                <button type="submit" class="Yes">はい</button>
            </form>
            <!-- キャンセル用リンク -->
            <a href="{% url 'CCapp:adm_post_list' %}" class="No"><button>いいえ</button></a>
        </div>
    </div>
</body>
</html>