{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>求人削除</title>
    <link href="{% static 'css/adm_post_del.css' %}" rel="stylesheet"/>
</head>
<body>
    <header class="header">
        <!-- brand name -->
        <div id="brand">
            <a class="brand" href="#"><i>Career
                <br>&nbsp;&nbsp;&nbsp;Compass</i></a>
        </div>

        <!-- ナビゲーション下の実線 -->
        <hr class="header-line">
    </header>

    <div class="container">
        <h3>{{ offer.name }} の求人を削除しますか？</h3>
        <div class="button-group">
            <!-- 削除のためのフォーム -->
            <form action="{% url 'delete_offer' offer.pk %}" method="post" onsubmit="return confirm('本当に削除しますか？');">
                {% csrf_token %}
                <button type="submit" class="Yes">はい</button>
            </form>
            <!-- キャンセル用のリンク -->
            <a href="{% url 'adm_dashboard' %}" class="No"><button>いいえ</button></a>
        </div>
    </div>
</body>
</html>