{% extends "base.html" %}

{% load static %}

{% block title %}お問い合わせ{% endblock %}

{% block head %}
<link href="{% static 'css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-box"> <!-- 外枠 -->
        <h1 class="contact-title">お問い合わせ</h1>
        <p class="contact-description">以下のフォームの項目を入力し、よろしければ「この内容で問い合わせる」ボタンをクリックしてください</p>
        
        <form action="#" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="UName">お名前</label>
                <input type="text" id="UName" name="UName" required>
            </div>
            <div class="form-group">
                <label for="Mail">メールアドレス</label>
                <input type="email" id="Mail" name="Mail" required>
            </div>
            <div class="form-group">
                <label for="Inquiry">お問い合わせ内容</label>
                <textarea id="Inquiry" name="Inquiry" required class="large-input"></textarea> <!-- textareaに変更 -->
            </div>
            
            <div class="button-group">
                <button type="submit" name="Contact_Submit">この内容でお問い合わせる</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}