{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アカウント削除</title>
    <link href="{% static 'css/delete_ac.css' %}" rel="stylesheet"/>
</head>
<body>

<h1>Career Compass</h1>
<div class="container">
    <h3>アカウントを削除しますか？</h3>

    <!-- エラーメッセージ表示エリア -->
    {% if not request.user.is_authenticated %}
        <div class="messages">
            <p style="color: red; font-weight: bold;">既に削除されているなどの理由で<br>現在ログインしていない状態です。<br>「いいえ」を選択してください。</p>
        </div>
    {% endif %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == 'delete_error' %}
                    <p style="color: red; font-weight: bold;">{{ message }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}


    <div class="button-group">
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" name="action" value="yes" class="action-button yes">はい</button>
        </form>
        <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" name="action" value="no" class="action-button no">いいえ</button>
        </form>
    </div>
    
</div>
</body>
</html>