<!-- base.htmlを継承 -->
{% extends "filter_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}filter jobtype{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head2 %}
    <link href="{% static 'css/filter_jobtype.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content2 %}
    <div class="jobtype-selection-wrapper">
        <!-- 業界選択ボタン -->
        <nav class="selection">
            <ul class="selection-button">
                <li><a href="javascript:void(0);" onclick="showIndustry('manufacturer')">事務・管理系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('trading')">企画・マーケティング系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('retail')">営業系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('finance')">技術・研究系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('service_infrastructure')">販売・サービス系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('software_communication')">専門系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('media')">医療・福祉系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('government')">金融系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('government')">クリエイティブ系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('government')">IT系</a></li>
                <li><a href="javascript:void(0);" onclick="showIndustry('government')">教育・保育・公共サービス系</a></li>
            </ul>
        </nav>

        
    </div>
{% endblock %}
