<!-- base.htmlを継承 -->
{% extends "filter_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}filter benefits{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head2 %}
    <link href="{% static 'css/filter_benefits.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content2 %}

    <!-- 選択ボタンと詳細を横並びにするためのラッパー -->
    <div class="selection-wrapper">
        
        <!-- 福利厚生選択ボタン -->
        <nav class="selection">
            <ul class="selection-button">
                <li>
                    <a href="javascript:void(0);" onclick="showTag('tag{{ tag.id }}')">福利厚生</a>
                </li> 
            </ul>
        </nav>

        <!-- Tagのチェックボックス -->
        <div class="checkbox-field">
        <div id="tag{{ tag.id }}" class="tag-details {% if forloop.first %}active{% endif %}">
            <button type="button" onclick="selectAll('tag{{ tag.id }}', true)">すべて選択</button>
            <button type="button" onclick="selectAll('tag{{ tag.id }}', false)">選択解除</button>
            
            {% for tag in tag_list %}
                <label>
                    <input type="checkbox" name="tag[]" value="{{ tag.id }}"> {{ tag.name }}
                </label>
                <br>
            {% endfor %}
        </div>
    </div>
    
    <script>
        // ページ読み込み時に最初の業界を表示
        window.onload = function() {
            const firstTag = document.querySelector('.tag-details');
            if (firstTag) {
                firstTag.classList.add('active');
            }
        };

        // ボタンをクリックして対応するチェックボックスを表示
        function showTag(tagId) {
            // すべての業界詳細を非表示にする
            const allTag = document.querySelectorAll('.tag-details');
            allTag.forEach(tag => tag.classList.remove('active'));
        
            // 該当する業界詳細を表示
            const targetTag = document.getElementById(tagId);
            if (targetTag) {
                targetTag.classList.add('active');
            }
        }
        
        // すべて選択/解除
        function selectAll(tagId, isChecked) {
            const checkboxes = document.querySelectorAll('#' + tagId + ' input[type="checkbox"]');
            checkboxes.forEach(checkbox => checkbox.checked = isChecked);
        }
    </script>
{% endblock %}
