{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- title -->
        <title>Career Compass</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={% static "assets/favicon.ico" %} />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static 'css/index.css' %} rel="stylesheet" />
    </head>
    <body>
        <!-- header -->
         {% comment %} 元々の名前　header class = masthead {% endcomment %}
        <header class="header">
            <!-- brand name -->
            <div id="brand">
                <a class="brand" href="#">Career Compass</a>
            </div>
            <!-- Navigation-->
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    {% comment %} ここに線を入れたい {% endcomment %}
                    
                    <div class="navigation">
                        <ul class="nav navbar-nav">
                            <li><a href="#home">トップ</a></li>
                            <li><a href="#about">プロフィール</a></li>
                            <li><a href="#services">絞り込み検索</a></li>
                            <li><a href="#self-reflection">自問自答</a></li>
                            <li><a href="#overview">サービス概要</a></li>
                            <li><a href="#contact">お問い合わせ</a></li>
                            <li><a href="#logout">ログアウト</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>

        <!-- search-box -->

        <div class="main-fluid">
            <div class="search-fluid">
                <!-- 検索バー-->
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="企業名や業種で探す" required>
                    <button type="submit">検索</button>
                </form>

                <!-- pull down menu -->
                <form action="/search" method"GET">
                    <label for="indutry">業種:</label>
                    <select id="indutry" name="indutry">
                        <option value="it">IT・通信</option>
            </div>    
        </div>

        
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Career Compass 2024. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
