{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
    <link href="{% static 'css/signup.css' %}" rel="stylesheet"/>
</head>
<body>

<!-- header -->
<header class="header">
    <!-- brand name -->
    <div id="brand">
        <!-- ブランド名 -->
        <a class="brand" href="{% url 'CCapp:top' %}"><i>Career<br>&nbsp;&nbsp;&nbsp;Compass</i></a>
    </div>

    <!-- ナビゲーション下の実線 -->
    <hr class="header-line">

    <!-- タイトル -->
    <h1 class="title">新規登録</h1>
</header>

<div class="container">
    <div class="form-field">
        <form action="{% url 'CCapp:signup' %}" method="post">
            {% csrf_token %}

            <!-- エラーメッセージ -->
            {% if user_form.errors or profile_form.errors %}
                <div class="messages" style="color: red;">
                    {% for field, errors in user_form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    
                    {% for field, errors in profile_form.errors.items %}
                        {% for error in errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            <table>
                <div class="form-group">
                    <label for="id_name">氏名</label>
                    {{ user_form.name }}  <!-- 氏名 -->
                </div>

                <div class="form-group">
                    <label for="id_furigana">フリガナ</label>
                    {{ profile_form.furigana }}  <!-- フリガナ -->
                </div>

                <div class="form-group">
                    <label for="id_mail">メールアドレス</label>
                    {{ user_form.mail }}  <!-- メールアドレス -->
                </div>

                <div class="form-group">
                    <label for="id_password">パスワード</label>
                    {{ user_form.password }}  <!-- パスワード -->
                </div>

                <div class="form-group">
                    <label for="id_birth">生年月日</label>
                    {{ profile_form.birth }}  <!-- 生年月日 -->
                </div>

                <div class="form-group">
                    <label for="id_gender">性別</label>
                    {{ profile_form.gender }}  <!-- 性別 -->
                </div>

                <div class="form-group">
                    <label for="id_uSchool">学校名</label>
                    {{ profile_form.uSchool }}  <!-- 学校名 -->
                </div>
                
                <div class="form-group">
                    <label for="id_graduation">卒業年度</label>
                    {{ profile_form.graduation }}  <!-- 卒業年度 -->
                </div>

                <div class="form-group">
                    <label for="id_uTel">電話番号</label>
                    {{ profile_form.uTel }}  <!-- 電話番号 -->
                </div>

                <div class="form-group">
                    <label for="id_postalCode">郵便番号</label>
                    {{ profile_form.postalCode }}  <!-- 郵便番号 -->
                </div>

                <div class="form-group">
                    <label for="id_uAddress">住所</label>
                    {{ profile_form.uAddress }}  <!-- 住所 -->
                </div>
            </table>

            <div class="button-group">
                <a href={% url "CCapp:login" %}>戻る</a>
                <button type="submit">登録</button>
            </div>
        </form>
    <div>
<div>
</body>
</html>
