<!-- base.htmlを継承 -->
{% extends "base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- 埋め込む用のタイトル -->
{% block title %}soliloquizing base{% endblock %}

<!-- 埋め込む用のcssを読み込むコード -->
{% block head %}
    <link href="{% static 'css/soliloquizing.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content %} 
<div class="container">
    <div class="soliloquizing-field">
        <!-- soliloquizing-navigation -->
        {% url 'CCapp:self_analy' as self_analy_url %}
        <nav class="soliloquizing_navigation">
            <ul class="soliloquizing-navigation-button">
                <li>
                    <a href="{{ self_analy_url }}"
                    class="{% if request.path == self_analy_url %}active{% endif %}">
                        自己分析
                    </a>
                </li>
                {% url 'CCapp:axis' as axis_url %}
                <li>
                    <a href="{{ axis_url }}"
                    class="{% if request.path == axis_url %}active{% endif %}">
                        就活の軸
                    </a>
                </li>
                {% url 'CCapp:industry' as industry_url %}
                <li>
                    <a href="{{ industry_url }}"
                    class="{% if request.path == industry_url %}active{% endif %}">
                        業界研究
                    </a>
                </li>
                {% url 'CCapp:jobtype' as jobtype_url %}
                <li>
                    <a href="{{ jobtype_url }}"
                    class="{% if request.path == jobtype_url %}active{% endif %}">
                        業種研究
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <form>
        <!-- ここに各入力項目が入る -->
        {% block soliloquizing %}{% endblock %}

        <!-- 保存ボタン -->
        <div class="save-button-container">
            <button type="submit" class="save-button">保存</button>
        </div>
    </form>
</div>

{% endblock %}
