<!-- base.htmlを継承 -->
{% extends "soliloquizing_base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- filter_area用のタイトル -->
{% block title %}soliloquizing_axis{% endblock %}

<!-- 埋め込む用のcssを読み込む -->
{% block head2 %}
    {% comment %} <link href="{% static 'css/soliloquizing.css' %}" rel="stylesheet"> {% endcomment %}
{% endblock %}

<!-- filter_base.htmlにぶち込む部分 -->
{% block soliloquizing %}

    {% for question in questions %}
        <label for="question{{ forloop.counter }}">Q{{ forloop.counter }}: {{ question }}</label>
        <textarea id="question{{ forloop.counter }}" name="question{{ forloop.counter }}" class="question-input"></textarea>
    {% endfor %}
     
{% endblock %}
