{% extends "base.html" %}
{% load static %}

{% block title %}業界研究{% endblock %}

{% block head %}
<link href="{% static 'css/soliloquizing_industry.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    
    <div class="soliloquizing_industry-box">
        <div class="container">
            <div class="nav-buttons">
                <a href="{% url 'CCapp:self_analy' %}" class="nav-btn self-analy">自己分析</a>
                <a href="{% url 'CCapp:axis' %}" class="nav-btn axis">就活の軸</a>
                <a href="{% url 'CCapp:industry' %}" class="nav-btn industry active">業界研究</a>
                <a href="{% url 'CCapp:jobtype' %}" class="nav-btn jobtype">業種研究</a>
            </div>
        <form>
            {% for question in questions %}
                <label for="question{{ forloop.counter }}">Q{{ forloop.counter }}: {{ question }}</label>
                <textarea id="question{{ forloop.counter }}" name="question{{ forloop.counter }}" class="question-input"></textarea>
            {% endfor %}

            <div class="save-button-container">
                <button type="submit" class="save-button">保存</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}