{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} 求人応募完了 {% endblock %}</title>
    <link href="{% static 'css/subscription_done.css' %}" rel="stylesheet"/>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- brand name -->
        <div id="brand">
            <a class="brand" href="{% url 'CCapp:top' %}"><i>Career<br>&nbsp;&nbsp;&nbsp;Compass</i></a>
        </div>
    </header>

    <hr>

    <div class="container">
        <div class="row-field">
            <form action="#" method="post">
                

                <!-- タイトル -->
                <h2>応募完了</h2>

                <div class="profile-box"> <!-- 外枠 -->
                    <p class="message">求人情報への応募を受け付けました。</p>
                    <p class="email">応募先メールアドレス: <strong>{{ corporation_mail }}</strong></p>
                    <p class="text">上記のメールアドレスからの連絡をお待ちください。</p>
                </div>

                <!-- ボタン -->
                <div class="button-group">
                    <button type="button" onclick="history.back()">Topへ戻る</button>
                </div>

            </form>
        </div>
    </div>

    <!-- Footer-->
    <footer class="footer bg-light">
        <div class="container">
            
            <!-- copyright -->
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">copyright &copy; Career Compass</p>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>