{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>求人応募</title>
    <link href="{% static 'css/subscription.css' %}" rel="stylesheet"/>
</head>
<body>
    <!-- header -->
    <header class="header">
        <!-- brand name -->
        <div id="brand">
            <a class="brand" href="#"><i>Career
                <br>&nbsp;&nbsp;&nbsp;Compass</i></a>
                <h1 class="h1">aaaaaaaaaaaaaaaaaaaa</h1>
        </div>
</header>
<h2>応募確認</h2>
<hr>
<form action="#" method="post">
    <table>
        <tr>
            <td class="form-group"><label for="UName">氏名</label></td>
            <td><input type="text" id="UName" name="UName" required style="width: 120px;"> <small>例：田中太郎</small></td>
        </tr>
        <tr>
            <td class="form-group"><label for="Furigana">フリガナ</label></td>
            <td><input type="text" id="Furigana" name="Furigana" required style="width: 120px;"> <small>例：タナカタロウ</small></td>
        </tr>
        <tr>
            <td class="form-group"><label>生年月日（年）</label></td>
            <td>
                <input type="text" id="Birth_Date_Year" name="Birth_Date_Year" required style="width: 50px;">
                <span>年</span>
                <input type="text" id="Birth_Date_Month" name="Birth_Date_Month" required style="width: 40px;">
                <span>月</span>
                <input type="text" id="Birth_Date_Day" name="Birth_Date_Day" required style="width: 40px;">
                <span>日</span>
            </td>
        </tr>        
        <tr>
            <td class="form-group"><label>性別</label></td>
            <td>
                <label>男 <input type="radio" name="Gender" value="Male" required></label>
                <label>女 <input type="radio" name="Gender" value="Female" required></label>
                <label>その他</label>
                <input type="text" id="Gender_Other" name="Gender_Other" placeholder="" style="width: 100px;">
            </td>
        </tr>
        <tr>
            <td class="form-group"><label for="Mail">メールアドレス</label></td>
            <td><input type="email" id="Mail" name="Mail" required></td>
        </tr>
        <tr>
            <td class="form-group"><label for="UTel">電話番号</label></td>
            <td>
                <input type="tel" id="UTel" name="UTel" style="width: 207px;">
            </td>
        </tr>
        <tr>
            <td class="form-group"><label for="UAddress">住所</label></td>
            <td><input type="text" id="UAddress" name="UAddress" required></td>
        </tr>
        </tr>
        <tr>
            <td class="form-group"><label for="USchool">学校名</label></td>
            <td><input type="text" id="USchool" name="USchool" required></td>
        </tr>
        <tr>
            <td class="form-group"><label for="Department">学部・学科名</label></td>
            <td><input type="text" id="Department" name="Department" required></td>
        </tr>
        <tr>
            <td class="form-group"><label for="Graduation">卒業年（西暦）</label></td>
            <td>
                <input type="text" id="Graduation" name="Graduation" required style="width: 60px;">
                <small>年</small>
            </td>
        </tr>
    </table>
    <div class="button-group">
        <button type="button" onclick="history.back()">戻る</button>
        <button type="submit">応募する</button>
    </div>
</form>

<div id="brands">
    <a class="brands" href="#"><i>Career
        <br>&nbsp;&nbsp;&nbsp;Compass</i></a>
</div>

<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        
        <!-- copyright -->
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <p class="text-muted small mb-4 mb-lg-0">copyright &copy; Career Compass</p>
            </div>
        </div>

    </div>
</footer>

</body>
</html>