<!-- base.htmlを継承 -->
{% extends "base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}top page{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content %}

    <!-- search-box -->
    <div class="container">
        <div class="search-field">
            <!-- 検索バー-->
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="企業名や業種で探す" required>
                <button type="submit">検索</button>
            </form>

            <!-- サーチフィールド内の点線 -->
            <hr class="search-field-line">

            <!-- pull down menu -->
            <form action="/search" method"GET">
                <label for="industry">業界:</label>
                <select id="industry" name="industry" class="select-box">
                    <option value="manufacturer">メーカー</option>
                    <option value="trading">商社</option>
                    <option value="retail">流通・小売</option>
                    <option value="finance">金融</option>
                    <option value="service_infrastructure">サービス・インフラ</option>
                    <option value="software_telecom">ソフトウェア・通信</option>
                    <option value="advertising_media">広告・出版・マスコミ</option>
                    <option value="government">官公庁・公社・団体</option>
                </select>

                <label for="jobType">職種:</label>
                <select id="jobType" name="jobType" class="select-box">
                    <option value="administrative">事務・管理系</option>
                    <option value="marketing">企画・マーケティング</option>
                    <option value="sales">営業系</option>
                    <option value="technical_research">技術・研究系</option>
                    <option value="retail_service">販売・サービス系</option>
                    <option value="specialist">専門系</option>
                    <option value="medical_welfare">医療・福祉</option>
                    <option value="financial">金融系</option>
                    <option value="creative">クリエイティブ系</option>
                    <option value="it">IT系</option>
                    <option value="education_public_service">教育・保育・公営</option>
                </select>

            
                <label for="area">エリア:</label>
                <select id="area" name="area" class="select-box">
                    <option value="hokkaido">北海道</option>
                    <option value="aomori">青森</option>
                    <option value="iwate">岩手</option>
                    <option value="miyagi">宮城</option>
                    <option value="akita">秋田</option>
                    <option value="yamagata">山形</option>
                    <option value="fukushima">福島</option>
                    <option value="ibaraki">茨城</option>
                    <option value="tochigi">栃木</option>
                    <option value="gunma">群馬</option>
                    <option value="saitama">埼玉</option>
                    <option value="chiba">千葉</option>
                    <option value="tokyo">東京</option>
                    <option value="kanagawa">神奈川</option>
                    <option value="niigata">新潟</option>
                    <option value="toyama">富山</option>
                    <option value="ishikawa">石川</option>
                    <option value="fukui">福井</option>
                    <option value="yamanashi">山梨</option>
                    <option value="nagano">長野</option>
                    <option value="gifu">岐阜</option>
                    <option value="shizuoka">静岡</option>
                    <option value="aichi">愛知</option>
                    <option value="mie">三重</option>
                    <option value="shiga">滋賀</option>
                    <option value="kyoto">京都</option>
                    <option value="osaka">大阪</option>
                    <option value="hyogo">兵庫</option>
                    <option value="nara">奈良</option>
                    <option value="wakayama">和歌山</option>
                    <option value="tottori">鳥取</option>
                    <option value="shimane">島根</option>
                    <option value="okayama">岡山</option>
                    <option value="hiroshima">広島</option>
                    <option value="yamaguchi">山口</option>
                    <option value="tokushima">徳島</option>
                    <option value="kagawa">香川</option>
                    <option value="ehime">愛媛</option>
                    <option value="kochi">高知</option>
                    <option value="fukuoka">福岡</option>
                    <option value="saga">佐賀</option>
                    <option value="nagasaki">長崎</option>
                    <option value="kumamoto">熊本</option>
                    <option value="oita">大分</option>
                    <option value="miyazaki">宮崎</option>
                    <option value="kagoshima">鹿児島</option>
                    <option value="okinawa">沖縄</option>
                </select>
            
                <button type="submit">検索</button>

            </form>

            <!-- 詳細検索遷移ボタン -->
            <div class="refine-search">
                <a href="{% url "CCapp:filter_area" %}">▷より詳細な条件で検索</a>
            </div>
        </div>
    </div>

{% endblock %}