<!-- base.htmlを継承 -->
{% extends "base.html" %}

<!-- staticタグを使うために追加 -->
{% load static %}

<!-- top page用のタイトル -->
{% block title %}top page{% endblock %}

<!-- top page用のcssを読み込む -->
{% block head %}
    <link href="{% static 'css/top.css' %}" rel="stylesheet">
{% endblock %}

<!-- base.htmlにぶち込む部分 -->
{% block content %}

    <!-- search-box -->
    <div class="container">
        <div class="search-field">
            <!-- 検索バー-->
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="企業名や業種で探す" required>
                <button type="submit">検索</button>
            </form>

            <!-- サーチフィールド内の点線 -->
            <hr class="search-field-line">

            <!-- pull down menu -->
            <form action="/search" method"GET">
                <label for="industry">業種:</label>
                <select id="industry" name="industry">
                    <option value="it">IT・通信</option>
                    <option value="finance">金融</option>
                    <option value="manufacturing">製造業</option>
                    <option value="service">サービス業</option>
                </select>
            
                <label for="jobType">職種:</label>
                <select id="jobType" name="jobType">
                    <option value="developer">開発者</option>
                    <option value="designer">デザイナー</option>
                    <option value="manager">マネージャー</option>
                    <option value="sales">営業</option>
                </select>
            
                <label for="area">エリア:</label>
                <select id="area" name="area">
                    <option value="tokyo">東京</option>
                    <option value="osaka">大阪</option>
                    <option value="nagoya">名古屋</option>
                    <option value="fukuoka">福岡</option>
                </select>
            
                <button type="submit">検索</button>

            </form>

            <!-- 詳細検索遷移ボタン -->
            <div class="refine-search">
                <a href="#">▷より詳細な条件で検索</a>
            </div>
        </div>
    </div>

{% endblock %}